*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

}

/*--------------Nav Bar----------------*/

nav{
    width: 100%;
    height: 60px;
    text-align: end;
    position: sticky;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    

}
nav ul{
    list-style-type: none;
    float:center;
}
nav ul a li{
    display: inline-block;
    margin: 0 -3px;
    padding: 18px 30px;
    color: white;

}

nav ul a li:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
nav ul a li:active{
    background-color: rgba(0, 0, 0, 0.286);
}
nav ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/*--------------Banner Text----------------*/


.centered {
    height:200px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:20px ;
    background-color: rgba(0, 0, 0, 0.381);
    padding:30px;
    text-align: center;
  }

  /*--------------Education---------------*/
  
  .container {
    height: auto;
    width: 100%;
    
  }
  .edu-img {
    width: 500px;
    padding-right: 0px;
    padding-top: 10%;
    
  }
  .edu-text {
    text-align: center;
    padding-top:50px;


  }
    
 
/*--------------Skill and experience---------------*/

.container2 {
  background-color: #f6ecef;
  width: 100%;
  justify-content: center;
  font-size: clamp(1rem, 1rem, 1rem); 
  padding-top: 50px;
  
}
.title1 {
  text-align: center;
}

.title2 {
  text-align: center;
}

.p1 {
  text-align: center;
}


/*-------------Contact us form----------------*/
 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container3 {
  border-radius: 5px;
  background-color:#f6ecef;
  padding: 10px;
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.footer1 {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.145);
  padding: 2;


}

.copyright {

}